@tailwind base;
@tailwind components;
@tailwind utilities;

.font-archivo {
  font-family: "Archivo", sans-serif;
}

.font-andada-pro {
  font-family: "Andada Pro", serif;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.animate-bounce-custom {
  animation: bounce 2s infinite alternate;
  -webkit-animation: bounce 2s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10%);
  }
}