@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-image: url("./src/assets/background.png");
  background-size: cover;
  background-position: center;
  height: 100dvh;
}

.font-archivo {
  font-family: "Archivo", sans-serif;
}

.font-andada-pro {
  font-family: "Andada Pro", serif;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}